.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start, #status, #restart{
    font-size: 23px;
}

.modal-dialog{
    width: 90%;
    border-radius: 15px;
    box-shadow: 5px 5px 18px grey;
}

.modal-header{
    background-color: rgb(255, 230, 0);
    color: coral;
    font-size: 20px;
    font-weight: bold;
}

.modal-header h4{
    color: rgb(255, 47, 47);
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.instruction-h3{
    text-align: left;
    color: #800080;
}

.modal-body{
    background-color: rgb(255, 230, 0);
}

.copy_right_footer{
    bottom: 0;
    line-height: 3;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 19px;
}

canvas{
    border: 6px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 18px grey;
}